{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>PushLog</title>

        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PushLog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reports' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'devices' %}">Devices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account' %}">Account</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'log_out' %}" method="POST" id="logoutForm">
                                {% csrf_token %}
                                <a class="nav-link" href="javascript:void(0);"
                                   onclick="document.getElementById('logoutForm').submit()">Logout</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    </body>
</html>